 *{
font-family: 'Bacasime Antique', serif;
text-align: center;
font-weight: 400;


}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    
}

body{    
    width:100%;
    overflow-x: hidden;
    background: rgb(16,28,47);
background: linear-gradient(0deg, rgba(16,28,47,1) 24%, rgba(164,212,243,1) 55%);
}

#parraf1 {
    font-size: 1.9em;

}

a {
    text-decoration:none;
    color:black;  
}


a:hover {

    text-decoration:none;
    transition-delay: 0.2s;
    color: #1a2239;  
   
    
}



footer {
    color: black;
}
p {
    font-size: 1.1em;
}




main {
    background-image: url( "/img/fondo2.jpg" ) ;

background-repeat: no-repeat;
background-position: center;
}

#foot {
  padding-top: 0px;
}

#section2 {
    font-size: 1.1em;
    font-weight: bold;
}


